/************************************
Color Guide
************************************/
/*
purple: #5F0F40
red: #9A031E
yellow: #FB8B24
orange: #E36414
blue: #0F4C5C
parchment: #F1F1D4

*/

/************************************
Layout
************************************/

body {
  background-color: #F1F1D4;
  color: #5F0F40;
  font-family: 'Montserrat', sans-serif;
}

.content {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

header {
  width: 100%;
}

header h1 {
  font-family: 'Ultra', serif;
  color: #9A031E;
  margin: 0;
  padding: 0;
  font-size: 42pt;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li{
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;

}
header ul li a, header ul li a:visited{
  color: #FFB877;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 150px;
  background-color: #5F0F40;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}


header ul li a:hover{
  color: #5F0F40;
  background-color: #E36414;

}

header ul li a:active{
  color: #FB8B24;

}

.map {
  clear: both;
}

.map svg{
  width: 100%;
  border: 5px solid #0F4C5C;
  display: block;
  vertical-align: top;

}

.rules h3 {
  width: 80%;
  min-width: 600px;
  margin-bottom: 10px;
  margin: 10px auto;

}

.rules table{
  background-color: #FB8B24;
  width: 80%;
  min-width: 600px;
  text-align: left;
  margin: 10px auto 10px auto;
  padding: 3px;
  color: #F1F1D4;

}
.rules table tr {
  background-color: #5F0F40;
}

.rules table .troops{
  background-color: #9A031E;
}
.rules table th {
  padding: 5px;
}

.rules table td {
  text-align: right;
  padding: 5px;
}

/************************************
SVG Map
************************************/

/*#map-svg text{
  font-family: 'Ultra', serif;
  color: #9A031E;
}*/

.country:hover {
  fill: #9A031E;
}

.country:hover path, .country:hover polygon{
  fill: #9A031E;
}

.connector {
  fill:none;
  stroke:#000000;

}

.st2 {
  stroke-miterlimit:10;
}

.africa path {
  fill:#685A4B;
  stroke:#000000;
}

.asia path {
  fill:#519B2A;
 stroke:#000000;
}


.europe path {
  fill:#1D72D8;
  stroke:#000000;
}

.north-america path {
  fill:#CCAC00;
  stroke:#000000;
}


.south-america path, .south-america polygon {
  fill:#ED7321;
  stroke:#000000;
}


.australia path {
  fill:#84475A;
  stroke:#000000;
}
